@import "tailwindcss";

html,
body,
#root,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
}

@layer utilities {
  @keyframes slide {
    0% { left: 0%; width: 20%; }
    50% { left: 80%; width: 20%; }
    100% { left: 0%; width: 20%; }
  }

  .animate-slide {
    animation: slide 2s ease-in-out infinite;
  }
}